* {
    margin: 0px;
}

header{
    background-color: rgb(48, 48, 122);
    height: 75px;
}

#title {
    color: whitesmoke;
    font-size: 45px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Jost';
}

#search-title {
    font-family: 'Jost';
    margin-left: 10px;
    margin-top: 10px;
}

.search{
    background-color: rgb(133, 147, 207);
    color: black;
    font-family: 'Jost';
    font-weight: bolder;
    width: 175px;
    border-radius: 5px;
    display: block;
    margin-left: 10px;
    margin-top: 5px;
}

.search:hover{
    background-color: black;
    color: rgb(133, 147, 207);
}

.city-input {
    height: 18px;
    margin-top: 5px;
    margin-left: 10px;
}

.history-btn {
    background-color: black;
    color: rgb(133, 147, 207);
    font-family: 'Jost';
    font-weight: bolder;
    width: 175px;
    border-radius: 5px;
    display: block;
    margin-left: 10px;
    margin-top: 5px;
}

.history-btn:hover{
    background-color: rgb(133, 147, 207);
    color: black;
}

#fiveDayForcast, .tempDisplay, .description, .cityName, .humidity, .windSpeed, .dateContainer{
    font-family: 'Jost';
    text-align: center;
    margin-top: 5px;
}

.icon{
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

.windSpeed, .humidity, .tempDisplay, .description {
    /* display:flexbox; */
    padding-left: 184px;
    
}

aside{
    float: left;
}

#fiveDayForcast{
    display: flex;
    flex-direction: row;
}

.fiveDayFormat{
    width: 20%;
    text-align: center;
    align-content: center;
}

.dayContainer{
    border-style: solid;
    border-color: blue;
    border-width: 3px;
    width: 20%;
}

.infoDisplay{
    margin-bottom: 35px;
}